<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-softniels-plugin"
        version="1.0.3">
	
    <name>snBatteryOptimization</name>
    <description>Controle sobre otimização de bateria.</description>
    <repo>https://github.com/rafaelgalle/cordova-softniels-plugin.git</repo>
    <keywords>battery, optimization</keywords>
    <license>Apache 2.0</license>
    <author>Rafael Galle</author>
    <issue>https://github.com/rafaelgalle/cordova-softniels-plugin/issues</issue>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
        <engine name="android-sdk" version=">=16" />
    </engines>

    <!-- js -->
	<js-module name="snBatteryOptimization" src="www/snBatteryOptimization.js">
		<clobbers target="cordova.plugins.snBatteryOptimization" />
	</js-module>

	<!-- android -->
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="snBatteryOptimization">
				<param name="android-package" value="cordova.softniels.plugin.snBatteryOptimization" />
			</feature>
		</config-file>
        
		<config-file parent="/*" target="AndroidManifest.xml">
		</config-file>

		<config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
        </config-file>

		<source-file src="src/android/snBatteryOptimization.java" target-dir="src/cordova/softniels/plugin/snBatteryOptimization" />
	</platform>
</plugin>
