<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-plugin-service" version="0.0.1">
	<name>snService</name>
    <description>Test Service1.</description>
    <license>MIT</license>
    <keywords>service</keywords>
    <repo>https://github.com/rafaelgalle/cordova-plugin-service.git</repo>
    <issue>https://github.com/rafaelgalle/cordova-plugin-service/issues</issue>

    <!-- cordova -->
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- js -->
	<js-module name="snService" src="www/snService.js">
		<clobbers target="cordova.plugins.snService" />
	</js-module>

	<!-- android -->
	<platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="snService">
                <param name="android-package" value="cordova.plugin.service.snService"/>
            </feature>
            <feature name="snServiceExt">
                <param name="android-package" value="cordova.plugin.service.snServiceExt"/>
            </feature>
        </config-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <preference name="KeepRunning" value="true" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="cordova.plugin.service.snServiceExt" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
        </config-file>

        <source-file
            src="src/android/snService.java"
            target-dir="src/cordova/plugin/service/snService" />

        <source-file
            src="src/android/snServiceExt.java"
            target-dir="src/cordova/plugin/service/snService" />

	</platform>
</plugin>